@media only screen and (max-width: 600px) {
  /* For mobile phones*/
  .leftMenu, .rightMenu, .mainBody {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* For tablets */
  .leftMenu, .rightMenu, .mainBody {
    width: 80%;
  }
}

@media only screen and (min-width: 912px) {
  /* For desktops */
    .leftMenu {
        width: 29%;
    }

    .mainBody {
   
        width: 100%;

    }

    .rightMenu {
        width: 70%;
    }
}

.leftMenu {
    float: left;
    color: #006747;
    background-color: #cfc493;
    /*padding: 15px;*/
}

  .leftMenu ul {
    list-style-type: none;
    text-align: right;
    margin: 10px;
    padding: 10px;
  }

  .leftMenu li {
    color: #006747;
    /*padding: 8px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  }

.rightMenu {
    float: left;
    color: #006747;
    background-color: #cfc493;
    border-left-style: solid;
    border-width: thin;
    border-left-color: darkgreen ;
  }
    .rightMenu ul {
        list-style-type: circle;
        text-align: left;
        margin: 10px;
        padding: 10px;
    }
.mainBody {
    float: left;
    color: #006747;
    background-color: #cfc493;
    margin-left: auto;
    margin-right: auto;
    /*padding: 15px;*/
}
.detailSection {
    padding: 20px;
    float: left;
    color: #006747;
    background-color: #cfc493;

}


.header {
  text-align: center;
  background-color: #cfc493;
  color: #006747;
  padding: 15px;
}


.rightMenuDecorate {
  background-color: #cfc493;
  color: #006747;
  text-align: left;
  font-size: 14px;
  margin-left: 20px;

  /*padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.ThreeColumnBody::after {
  content: "";
  clear: both;
  display: block;

}

.footer {
  background-color: #cfc493;
  color: #006747;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
table.center {
    margin-left: 20px;
    margin-right: auto;
    width: 100%;
    padding-right: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-style: oblique;
}
table.edu {
    margin-left: 70px;
    margin-right: auto;
    width: auto;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-style: normal;
    border-bottom-width: thick;
}
hr {    width: 100%;
        height: 0px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        border-width: 0px;
        background-color: black;
        border-left-style: solid;
        border-width: thin;
        border-color: forestgreen;
    }
